@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap");
@import "leaflet/dist/leaflet.css";

@import "./typography.css";
@import "./colors.css";
@import "../utility/utility.css";
@import "../components/Link/style.css";

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  height: 600px;
  background-color: var(--color-2);
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

img[src$=".jpg"] {
  border-radius: 4px;
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote {
  margin: 0px;
}
