.menuMainBox {
    background-color: #2F2F3B;
    width: 250px;
    height: 100vh;
    position: fixed;
    z-index: 1000;

    div {
        //background-color: red;
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .img {
            width: 120px;
            height: 120px;
            border-radius: 1000px;
        }

        h4 {
            color: #fff;
            font-weight: 400;
        }
    }

    ul {
        //background-color: red;
        padding-top: 30px;
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        list-style: none;

        .img {
            width: 30px;
            height: 30px;
            margin-right: 7px;
        }

        .li {
            transition: 400ms;
            //background-color: blue;
            width: 75%;
            height: 50px;
            text-decoration: none;
            display: flex;
            justify-content: start;
            align-items: center;
            padding-bottom: 5px;
            padding-left: 10px;
            font-size: 15px;
            color: #fff;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            border-radius: 15px;

        }

        .li:hover {
            background-color: #5A5A70;
            transition: 400ms;
            transform: scale(1.05);
            margin-bottom: 10px;
            margin-top: 10px;
        }
    }
}

@media screen and (orientation:portrait) {
    .menuMainBox {
        width: 100%;
        height: 70px;
        position: fixed;
        bottom: 0;

        div {
            display: none;

            .img {
                // display: none;
            }
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #2F2F3B;
            height: 100%;
            padding-top: 0;
            flex-direction: row;

            .img {
                width: 30px;
            }

            .li {
                flex-direction: column;
                width: 30%;
                height: fit-content;
                justify-content: center;
                font-size: 15px;
            }
        }
    }

}