.CardComponentMainBox{
    border: rgba(204, 204, 204, 0.5) solid 1px;
    border-radius: 20px;
    width: 250px;
    height: 250px;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding: 10px;

    .CardContentBox{
        display: flex;
        height: fit-content;
        justify-content: flex-start;
        align-items: center;
        padding-left: 20px;
        padding-top: 20px;

        .image{
            transition: 600ms;
            width: 60px;
            height: 60px;
            border-radius: 200px;
            margin-right: 10px;
        }
        .image:hover{
            transition: 600ms;
            transform: scale(2);
            box-shadow: rgba(204, 204, 204, 0.5) 0px 0px 5px 1px;
        }
    }

    .CardContentBox:nth-child(2){
        height: 70%;
        flex-direction: column;
        padding-left: 20px;
        align-items: flex-start;
    }
}

.CardComponentMainBox:hover{
    transition: 400ms;
    box-shadow: rgba(204, 204, 204, 0.5) 0px 0px 5px 1px;
    border-radius: 20px;
    transform: scale(1.005);
}

@media screen and (orientation:portrait) {
    #card{
        border: rgba(204, 204, 204, 0.5) solid 1px;
        border-radius: 20px;
        width: 350px;
        height: 250px;
        padding: 0;
        display: flex;
        flex-direction: column;
        padding: 10px;
    
        .card-content-box{
            display: flex;
            height: fit-content;
            justify-content: flex-start;
            align-items: center;
            padding-left: 20px;
            padding-top: 20px;
                
            img{
                width: 60px;
                height: 60px;
                border-radius: 200px;
                margin-right: 10px;
            }
        }
    
        .card-content-box:nth-child(2){
            height: 70%;
            flex-direction: column;
            padding-left: 20px;
            align-items: flex-start;
            
        }
    
    }
}