/*  ITEMS CSS PARA LOCALIZAÇÃO RAPIDA:
**  GENERIC CONTENT
**  LOADING
**  CARD
**  PAGINATION
**  MODAL
**  SEARCH
**  SOCIAL LINKS
**  DARK MODE
*/

:root {
  --color-primary: #0ea8e3;
  --color-secondary: #034159;
}

/*#region @===GENERIC CONTENT===@ */
/*RESET*/
html,
body,
#__next,
.dark-mode {
  margin: 0 auto;
  padding: 0;
  bottom: 0;
  position: relative;
  top: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 120px;
}

@media screen and (max-width: 500px) {
  .container {
    padding: 0;
  }
}

.d-none {
  display: none !important;
}

.opacity-0 {
  opacity: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.gap-2 {
  gap: 8px;
}

.gap-3 {
  gap: 10px;
}

p,
span,
label,
strong {
  font-size: 1rem;
  margin: 0;
}

[disabled] {
  cursor: default !important;
  opacity: 0.5 !important;
}

.H4 {
  font-size: 1.4rem;
}
/*#endregion @===GENERIC CONTENT===@ */

/*#region @===LOADING===@ */
.loading {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgb(192, 192, 192);
  z-index: 999;
  width: 100%;
  height: 100vw;
  opacity: 0.5;
}

.loading > img {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 30%;
}
/*#endregion @===LOADING END===@ */

/*#region @===CARD===@ */
.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  padding: 0;
  margin: 0;
  gap: 70px;
  place-items: center;
}

@media screen and (max-width: 900px) {
  .card-list {
    gap: 20px;
  }

  .card {
    padding: 20px 0 !important;
  }
}

.card-list:hover > :not(:hover) {
  opacity: 0.6;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  margin: 10px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: 0.2s;
  max-width: 446px;
  width: 100%;
  gap: 8px;
}

.btn-card {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 60px;
  width: 100%;
  background-color: var(--color-primary);
  border: 0;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.4s;
  color: #fff;
}

.height-card {
  height: 28px !important;
}

.not-pokemon {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  margin: 6rem auto;
}

.not-pokemon:hover > :not(:hover) {
  opacity: initial;
}

/*#endregion @===CARD END===@ */

/*#region @===PAGINATION===@ */
.pagination-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 46px 0;
}

.pagination-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  padding: 10px;
  color: #fff;
  border: 0;
  border-radius: 8px;
  width: 100%;
  max-width: 50px;
  cursor: pointer;
  font-size: 1.6rem;
}

.selected {
  background-color: var(--color-secondary);
}
/*#endregion @===PAGINATION END===@ */

/*#region @===MODAL===@ */
.modal {
  display: none;
  justify-content: center;
  align-content: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
  cursor: default;
}

.modal-content {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  max-height: 460px;
  width: 100%;
  height: 100%;
  align-self: center;
  z-index: 101;
  padding: 26px;
  height: auto;
  cursor: default !important;
}

.modal-header {
  position: relative;
  display: inline;
  width: 100%;
}

.modal-header > button {
  position: absolute;
  right: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.2rem;
}

.modal-body {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  cursor: default !important;
}

.modal-body > h2 {
  font-size: 1.8rem;
  width: 100%;
  text-align: center;
  margin: 30px 0 0 0;
}

.modal-body > img {
  align-self: center;
}

.active {
  display: flex;
}

.info-details > :nth-child(1) {
  font-weight: bold;
}

/*#endregion @===MODAL END===@ */

/*#region @===SEARCH===@ */
.search {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding-top: 30px;
}

.search-input {
  width: 100%;
  height: 32px;
  padding: 8px;
  font-size: 1.2rem;
  border: 1px solid #c1c1c1;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 8px;
}

.search-btn,
.btn-back {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  width: 100%;
  height: 40px;
  padding: 8px;
  border: 1px solid #c1c1c1;
  border-radius: 8px;
  background-color: var(--color-primary);
  color: #fff;
  font-weight: bold;
  font-size: 0.8rem;
  cursor: pointer;
}

.search-btn:hover {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
/*#endregion @===SEARCH===@ */

/*#region @===SOCIAL LINKS===@ */

.social {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
}

.social > li {
  display: flex;
  text-decoration: none;
}
/*#endregion @===SOCIAL LINKS===@ */

/*#region @===DARK MODE===@ */

.dark-mode {
  background-color: #32383d;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode p,
.dark-mode span,
.dark-mode label,
.dark-mode strong,
.dark-mode button {
  color: #fff;
}

.dark-mode .search-input,
.dark-mode .info-container,
.search-btn:hover {
  box-shadow: 0px -13px 15px -11px #fff;
}

.dark-mode .card {
  background-color: #4c555c;
}

.darkMode-btn {
  position: fixed;
  bottom: 138px;
  right: 10px;
  z-index: 999;
}

/* .darkMode-icon {
  position: relative;
  background-image: url("/frontend-test-two/images/btn-dark.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 80px;
  display: flex;
  height: 40px;
} */

.darkMode-icon::before {
  content: "LIGHT";
  position: absolute;
  right: 4px;
  top: 12px;
  font-weight: bold;
  color: #fff;
  font-size: 0.8rem;
}

.darkMode-input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  margin: 0;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  transition: 1s;
}

.darkMode-input:checked ~ .darkMode-icon {
  background-image: url("/frontend-test-two/images/btn-light.png") !important;
}

.darkMode-input:checked ~ .darkMode-icon::before {
  color: #000;
  content: "DARK";
  right: initial;
  left: 4px;
  top: 12px;
}
/*#endregion @===DARK MODE END===@ */

/*#region @===INFO CARD===@ */

.info-container {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 101%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px -8px 15px 7px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(20px);
  background-color: #c1c1c1;
  background-color: #c1c1c1;
  box-shadow: inset 0px 45px 69px 0px rgba(0, 0, 0, 0.1);
}

.info-transition {
  transition: 0.4s;
  opacity: 1;
  /* height: auto; */
  padding: 16px 0;
  transform: translateY(0px);
}

.info-container > li {
  display: flex;
  gap: 4px;
}

.btn-primary,
.btn-secondary,
.btn-compare {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -8px;
  right: 16px;
  border: 0;
  border-radius: 100%;
  font-size: 1rem;
  cursor: pointer;
}

.btn-primary {
  top: -12px;
  right: 40px;
  border-radius: 8px;
  background-color: var(--color-primary);
  color: #fff;
}

.btn-secondary {
  top: -12px;
  right: 16px;
  border-radius: 8px;
  background-color: var(--color-secondary);
  color: #fff;
  font-weight: bold;
}

/*#endregion @===INFO CARD===@ */

/*#region @===COMPARE==@*/

.compare-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 600px;
}

.card-comapre {
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 40px;
  background-color: #fff;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0px -8px 15px 7px rgba(0, 0, 0, 0.1);
  z-index: 20;
  z-index: 20;
  animation: dropCard 1s ease;
}

@keyframes dropCard {
  from {
    transform: translateY(50px);
  }

  to {
    transform: translateY(0);
  }
}

.btn-compare {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  border-radius: 8px;
  padding: 4px;
  max-width: 50px;
  width: 100%;
  height: 100%;
  cursor: pointer !important;
}

.btn-compare:hover > img {
  transition: 1s;
  transform: rotate(90deg);
}

.card-comapre-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 10px;
  padding: 14px 4px;
  border: 0;
  border-radius: 8px 8px 0 0;
  background-color: #c1c1c1;
  color: #000;
  position: relative;
  height: 132px;
  z-index: 19;
  animation: dropCompare 1s ease;
}

.card-compare-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 21;
}

.card-compare-header > button {
  top: 0;
  right: 20px;
}

@keyframes dropCompare {
  from {
    /* height: 0; */
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    /* height: auto; */
    opacity: 1;
    transform: translateY(0);
  }
}

.compared-up {
  color: #005300;
}

.compared-down {
  color: #970000;
}

.compareInfo-name {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 4px 0;
}

.compareInfo-container > div {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  color: #000;
}

/*#endregion @===COMPARE==@*/

/*#region @===ALERT BOX==@*/
.card-alertbox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  background-color: rgb(245, 71, 71);
  border: 0;
  border-radius: 4px;
  color: #fff;
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
}

/*#endregion @===ALERT BOX==@*/
