.CatMainBox{
    display: flex;

    .HttpMainBox{
        height: 100vh;
        width: 40%;
        display: flex;
        flex-direction: column;
        border-right: rgba(204, 204, 204, 0.5) solid 2px;
        min-height: 100vh;
        max-width: 500px;

        article{
            width: 100%;
            padding: 20px;
            height: 100px;
        }

        section{
            width: 100%;
            display: flex;
            overflow-y: scroll;

            ul{
                width: 100%;
                padding: 20px;
                display: flex;
                flex-direction: column;

                li{
                    transition: 400ms;
                    list-style: none;
                    width: 85%;
                    background-color: rgba(204, 204, 204, 0.5);
                    color: #666;
                    font-size: 15px;
                    padding: 10px;
                    margin-bottom: 15px;
                    border-radius: 10px;
                    cursor: pointer;
                }
                li:hover{
                    transition: 400ms;
                    background-color: #2F2F3B;
                    color: white;
                    transform: scale(1.005);
                }
                li:active{
                    transform: scale(0.95);
                }
            }
        }
    }

    .ImageMainBox{
        width: 60%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 70%;
            border-radius: 30px;
        }

    }
}

@media screen and (max-width: 850px) {
    .CatMainBox{
        flex-direction: column-reverse;

        .HttpMainBox{
            height: 50vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            max-width: 100%;
            min-height: auto;
            padding-bottom: 20px;
            border-right: none;

            article{
                width: 100%;
                padding: 0;
                height: 100px;
                
                h1{
                    text-align: center;
                }
            }

            section{
                width: 100%;
                display: flex;
                overflow-y: scroll;
    
                ul{
                    width: 100%;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
                  
                }
            }
        }

        .ImageMainBox{
            width: 100%;
            height: 350px;
            min-height: auto;

    
            img{
                width: 60%;
            }
    
        }
    }
    
}

@media screen and (orientation: portrait) {

    .ImageMainBox{
        width: 100%;
        height: 350px;
        min-height: auto;


        img{
            width: 70%;
        }

    }
    
}