html,
body {
    margin: 0;
    padding: 0;
    
    background: var(--background-color);
    color: var(--text-color);
    font-weight: var(--font-weight);
    transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
    
}

h1 {
    color: white;
    margin-left: 40px;
}

h2 {
    margin-bottom: 10px;
    margin-left: 4px;
    font-weight: bold;
    font-size: 40px;
}



* {
  box-sizing: border-box;
  font-family: "Opens-Sans", sans-serif;
  padding: 0;
  margin: 0;

}
.App {
    background-color: blueviolet;
}



#darkMode {
    background: transparent url("../public/moon.png") no-repeat center;
    background-size: 30px 30px;
    width: 45px;
    height: 45px;
    filter: grayscale(100%);
    border: none;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
  }
  
  #darkMode:hover,
  #darkMode:focus {
    filter: none;
    background-color: black;
    cursor: pointer;
  }
  
  #darkMode.clicked {
    filter: none !important;
    background-color: black;
  }

  :root {
    --blue: linear-gradient(311deg, rgba(2,0,36,1) 0%, rgba(5,5,23,1) 99%, rgba(14,14,14,1) 100%);
    --black: black;
    --white: rgb(236, 236, 236);
  }

  body.light {
    --background-color: var(--white);
    --text-color: var(--blue);
    --font-weight: 400;
    
  }

  body.dark {
    --background-color: var(--blue);
    --text-color: var(--white);
    --font-weight: 500;
  }