html,
body {
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    margin-left: 40px;
}

h2 {
    margin-bottom: 10px;
    color: white;
    margin-left: 4px;
}

span {
    color: white;
}

* {
  box-sizing: border-box;
  font-family: "Opens-Sans", sans-serif;
  padding: 0;
  margin: 0;
}
