.navbar {
  background-color: #ffcc01;
  padding: 2rem;
  border-bottom: 0.4rem solid #375caa;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;

  .menu {
    color: #375caa;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.6rem;
  }
}
